/*
	Theme Name: Plexis HealthCare Systems
	Theme URI: http://
	Author: 
	Author URI: http://
	Description: 
	Version: 1.0
	Text Domain: plexis
*/

/* --- Default Styles --- */
html {
	font-size: 62.5%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px; font-size: 1.3rem;
}
h1, h2, h3, h4, h5, h6 {
	color: #111;
	font-family: 'Open Sans', sans-serif;
}
img.alignleft {
	float: left;
	display: block;
	margin-right: 15px;
	margin-bottom: 10px;
}
img.alignright {
	float: right;
	display: block;
	margin-left: 15px;
	margin-bottom: 10px;
}
img.aligncenter {
	float: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
img.alignnone {
	float: none;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* --- Custom Theme Styles --- */
em {
	color: #444444;
}
a {
	color: #111;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
a.no-deco {
	text-decoration: none;
}
a:hover {
	color: #777;
	text-decoration: none;
}
a img:hover:not(.logo) {
	opacity:.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transition:all .15s  linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	-webkit-backface-visibility: none;
}
.logo {
	max-width: 280px;
}
.uk-container {
	max-width: 1000px;
}
.home.uk-container {
	max-width: 1050px;
}
.uk-grid:not(.header) .uk-width-medium-7-10 {
	padding-right: 30px;
	border-right: 1px dashed #CCCCCC;
}
.uk-pagination {
	border-top: 1px solid #ddd;
	padding-top: 15px;
}
.widget {
	margin-bottom: 25px;
}
.widget .widget-title {
	padding-bottom: 4px;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 25px;
}
.widget.widget_recent_entries {
}
.widget.widget_recent_entries ul {
	list-style: none;
	padding-left: 0;
}
.widget.widget_recent_entries li {
	padding-bottom: 10px;
	border-bottom: 1px dashed #333;
	margin-bottom: 10px;
}
.widget.widget_recent_entries .post-date:before {
	content: "published ";
	font-style: normal;
}
.widget.widget_recent_entries .post-date {
	display: block;
	font-style: italic;
	margin-top: 10px;
}
.widget .glossary-widget h4 {
	color: #444;
	font-weight: 700;
	margin-bottom: 0;
}
.widget .glossary-widget p {
	color: #444;
	margin-top: 0;
	margin-left: 15px;
}


/* --- NavBar --- */
.uk-navbar-nav li a {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #111;
	font-family: 'Open Sans', sans-serif;
	border: 0;
	text-shadow: none;
	box-shadow: none;
}
.uk-dropdown-navbar {
	margin-top: -3px;
	background: #fff;
	color: #111;
	left: -1px;
	border-color: #33689c #CCC #CCC;
	border-style: solid;
	border-width: medium 1px 1px;
	border-radius: 0;
	box-shadow: 1px 3px 6px #333;
}
.uk-dropdown-navbar li a {
	font-size: 13px;
	padding-bottom: 10px;
	border-bottom: 0;
	box-shadow: none;
	text-shadow: none;
}
.uk-dropdown-navbar li:last-of-type a {
	padding-bottom: 0;
}
.uk-navbar-nav:first-child>li:first-child>a {
	border-radius: 0;
}
.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a:focus,
.uk-navbar-nav>li.uk-open>a,
.uk-navbar-nav>li.uk-active>a  {
	background: #fff;
	border-bottom: solid 3px #33689c;
}
.uk-nav-navbar>li>a:hover,
.uk-nav-navbar>li>a:focus,
.uk-dropdown li.uk-active>a {
	background: #fff;
	color: #888;
	border-bottom: 0;
	box-shadow: none;
	text-shadow: none;
}
.uk-navbar-toggle {
	font-size: 25px; font-size: 2.5rem;
}
.uk-nav-offcanvas>li>a {
	padding: 7px 15px;
}
.uk-nav-offcanvas>li.current-menu-item>a {
	background: #1a1a1a;
	color: #fff;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
.uk-nav-offcanvas>li.current-menu-parent>.sub-menu>li.current-menu-item>a {
	color: #888;
}
.uk-nav-offcanvas .sub-menu {
	margin-top: -5px;
	padding-left: 25px
}


/* --- Header --- */
header.uk-container {
	max-width: 1050px;
}
header .border {
	border-bottom: #CCCCCC 3px solid;
	padding-bottom: 30px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}


/* --- Homepage --- */
section.slider {
	text-align: center;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 30px;
}
section.slider ul {
	padding-left: 0;
}
section.slider h2 {
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 7px;
	margin-top: 20px;
	padding: 0 40px;
}
section.slider .sub {
	color: #666666;
	font-size: 16px; font-size: 1.6rem;
	padding: 0 40px;
}
section.slider a {
	transition: none;
	-webkit-transition: none;
}
section.slider a:hover,
section.slider a img:hover {
	opacity: 1.0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-backface-visibility: none;
}

section.tricolumn {
	padding-bottom: 30px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 30px;
}
section.tricolumn .title {
	height: 75px;
	display: block;
}
section.tricolumn .uk-panel img {
	height: 75px;
	width: auto;
}
section.tricolumn .uk-panel h3 {
	font-size: 20px; font-size: 2.0rem;
	line-height: 26px;
	padding-top: 20px;
}

section.software {
}
section.software .uk-panel {
	font-size: 17px; font-size: 1.7rem;
}
section.software .uk-panel-teaser {
	background: url('./images/software-shadow.png') no-repeat scroll 50% bottom transparent;
	padding-bottom: 16px;
}
section.software .uk-panel-teaser img {
	border: solid 1px #CCCCCC;
}
section.software h3 {
	font-size: 14px; font-size: 1.4rem;
	line-height: 20px;
	margin-bottom: 7px;
	margin-top: 14px;
}


/* --- Page --- */
.single .uk-article-title,
.page .uk-article-title,
.page h1 {
	margin-bottom: 15px;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 15px;
}
.management .uk-article+.uk-article {
	border: 0;
}


/* --- Product Page --- */
.product.page {
}


/* --- Archives --- */
.archive .uk-article-title {
	font-size: 20px; font-size: 2.0rem;
	line-height: 24px;
}
.archive h1 {
	margin-bottom: 15px;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 15px;
}
.archive.partners .sub {
	margin-top: -5px;
	margin-bottom: 30px;
}
.archive.glossary .uk-description-list-line>dt {
	font-weight: 700;
}
.archive.glossary .uk-description-list-line>dt,
.archive.glossary .uk-description-list-line>dd {
	color: #444;
}

.archive.glossary .alpha-list {
	text-align: center;
	font-size: 14px; font-size: 1.4rem;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 15px;
	padding-right: 3px;
}
.archive.glossary .alpha-list a:not(:last-of-type):after {
	content: " ";
	margin-right: 3px;
	border-right: 1px solid #CCCCCC;
}
.archive.glossary .alpha-list a.active {
	color: #777;
}


/* --- ShortCode Styles --- */
.shortcode h3 {
	font-size: 22px; font-size: 2.2rem;
	margin-bottom: 5px;
}
.shortcode .uk-icon-file-pdf-o {
	color: #BB0706;
}
.shortcode span {
	font-size: 18px; font-size: 1.8rem;
	color: #444;
}


/* --- Footer --- */
footer {
	background: #333333;
	color: #DDDDDD;
	min-height: 250px;
	padding: 30px 0;
}
footer a {
	color: #DDDDDD;
	text-decoration: underline;
}
footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
footer .uk-icon {
	-webkit-transition:all .15s  linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
}
footer .uk-icon-twitter-square {
	color: #33CCFF;
}
footer .uk-icon-facebook-square {
	color: #3B5998;
}
footer .uk-icon-linkedin-square {
	color: #4875B4;
}
footer .uk-icon-youtube {
	color: #FF3333;
}
footer .uk-icon:hover {
	color: #FFFFFF;
}
footer .fwidget .widget-title {
	color: #DDDDDD;
	font-size: 19px; font-size: 1.9rem;
	border: 0;
}
footer .widget_nav_menu ul {
	list-style: none;
}
footer .widget_nav_menu ul li {
	margin-left: -15px;
}
footer .widget_nav_menu .current-menu-item a {
	color: #999999;
}
footer .uk-width-1-1 {
	margin-top: 30px;
	border-top: #DDD 1px solid;
	padding-top: 15px;
}


/* --- Responsive --- */

/* Desktop and bigger */
@media (min-width: 960px) {
}
/* Only tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {
}
/* Phone landscape and smaller */
@media (max-width: 767px) {
	.bx-wrapper .bx-controls-direction a {
		display: none;
	}
	.uk-grid:not(.header) .uk-width-medium-7-10 {
		border: 0;
		padding-right: 0;
	}
	.archive.glossary .alpha-list {
		font-size: 12px; font-size: 1.2rem;
	}
}